{
    "project": {
        "name": "GNN_benchmark",
        "mount": [],
        "exclude": [".git", ".env", ".venv", "Pipfile", "wandb", "*.mp4", "*.egg-info", "__pycache__", ".output"],  // ".png",
        "environment": {
            "DBS_DATA_DIR": "/data",
            "EVAL_SAVE_DIR": "/evaluation",
            "WANDB_CONFIG_DIR": "$RMX_CODE_DIR/.config"  // This is default to "~/.config", and causes an issue on birch and elm when we specify non-root uid.
        }
    },
    "machines": {
        "birch": {
            "docker": {
                "image": "ripl/block_pose_est",
                "group_id": 4000,
                "user_id": 2013,
            },
            "mount_from_host": {
                "/ripl/data/projects/diffusion_block_stacking": "/block_stacking",
                "/ripl/data/projects/diffusion_block_dataset-iros": "/data",
                "/ripl/data/projects/diffusion_block_stacking/models": "/models",
                "/ripl/data/projects/diffusion_block_stacking/checkpoint": "/checkpoint",
                "/ripl/data/projects/block_dif_eval/20230301": "/evaluation",
                "/share/data/ripl-takuma": "/ripl-takuma",
            },
            "environment": {
                // "DBS_DATA_DIR": "/ripl-takuma/projects/diffusion-block-stacking/diffusion_block_dataset-20230115",
                //"CHECKPOINT_DIR": "/ripl-takuma/projects/diffusion-block-stacking/checkpoint",
                "CHECKPOINT_DIR": "/ripl-takuma/projects/diffusion-block-stacking/checkpoint",
                "DDPM_MODEL_DIR": "/ripl-takuma/projects/diffusion-block-stacking/models/ddpm",
            },
        },
        "elm": {
            "docker": {
                "image": "ripl/block_pose_est",
                "group_id": 4000,
                "user_id": 2013,
            },
            "mount_from_host": {
                "/ripl/data/tianchong/GNN/data": "/data",
                "/ripl/data/tianchong/GNN/eval": "/evaluation",
            },
            "environment": {},
        },
        "tticslurm": {
            "mode": "slurm-sing",
            "mount": [],
            "mount_from_host": {
                "/share/data/ripl/tianchong/GNN/data": "/data",
                "/share/data/ripl/tianchong/GNN/eval": "/evaluation",
            },
            "singularity": {
                "sif_file": "/share/data/ripl-takuma/singularity-workspace/block_pose_est/block_pose_est.sif",
                "writable_tmpfs": true
            }
        }
    }
}